[video]
resolucion=720x400
codec=libx264
bitrate=1500k
threads=8

[audio]
codec=null

[rutas]
temporal=/temp/
final=/final/
logs=/logs/

[salida]
extension=.mp4
ficherotemporal=fichero.temp

[opciones]
eliminartemporal=0
eliminaroriginal=0
maxtamano=1024
tiempoespera=30
